Repository NLog/NLog.Web, pull requests merged in 2018-09, with the labels that each got.

#314 Better missing httpcontext reporting & Skip null-check of HttpContextAccessor.HttpContext in DoAppend
  NLog.Web.AspNetCore.Tests/LayoutRenderers/AspNetCookieLayoutRendererTests.cs
  NLog.Web.AspNetCore.Tests/LayoutRenderers/AspNetQueryStringLayoutRendererTests.cs
  NLog.Web.AspNetCore/DefaultHttpContextAccessor.cs
  NLog.Web.AspNetCore/LayoutRenderers/AspNetApplicationValueLayoutRenderer.cs
  NLog.Web.AspNetCore/LayoutRenderers/AspNetItemValueLayoutRenderer.cs
  NLog.Web.AspNetCore/LayoutRenderers/AspNetLayoutRendererBase.cs
  NLog.Web.AspNetCore/LayoutRenderers/AspNetRequestContentTypeLayoutRenderer.cs
  NLog.Web.AspNetCore/LayoutRenderers/AspNetRequestCookieLayoutRenderer.cs
  NLog.Web.AspNetCore/LayoutRenderers/AspNetRequestHostLayoutRenderer.cs
  NLog.Web.AspNetCore/LayoutRenderers/AspNetRequestHttpMethodRenderer.cs
  NLog.Web.AspNetCore/LayoutRenderers/AspNetRequestIpLayoutRenderer.cs
  NLog.Web.AspNetCore/LayoutRenderers/AspNetRequestQueryStringLayoutRenderer.cs
  NLog.Web.AspNetCore/LayoutRenderers/AspNetRequestReferrerRenderer.cs
  NLog.Web.AspNetCore/LayoutRenderers/AspNetRequestUrlRenderer.cs
  NLog.Web.AspNetCore/LayoutRenderers/AspNetRequestValueLayoutRenderer.cs
  NLog.Web.AspNetCore/LayoutRenderers/AspNetRequestuseragent.cs
  NLog.Web.AspNetCore/LayoutRenderers/AspNetSessionIdLayoutRenderer.cs
  NLog.Web.AspNetCore/LayoutRenderers/AspNetSessionValueLayoutRenderer.cs
  NLog.Web.AspNetCore/LayoutRenderers/AspNetTraceIdentifierLayoutRenderer.cs
  NLog.Web.AspNetCore/LayoutRenderers/AspNetUserAuthTypeLayoutRenderer.cs
  NLog.Web.AspNetCore/LayoutRenderers/AspNetUserIdentityLayoutRenderer.cs
  NLog.Web.AspNetCore/LayoutRenderers/AspNetUserIsAuthenticatedLayoutRenderer.cs
Labels: ASP.NET 4, ASP.NET Core 1, ASP.NET Core 2, enhancement

#317 ${aspnet-request-querystring} and ${aspnet-request-cookie}): Make separators layoutable
  NLog.Web.AspNetCore.Tests/LayoutRenderers/AspNetCookieLayoutRendererTests.cs
  NLog.Web.AspNetCore.Tests/NLog.Web.AspNetCore.Tests.csproj
  NLog.Web.AspNetCore/LayoutRenderers/AspNetLayoutMultiValueRendererBase.cs
  NLog.Web.AspNetCore/LayoutRenderers/AspNetRequestCookieLayoutRenderer.cs
  NLog.Web.AspNetCore/LayoutRenderers/AspNetRequestQueryStringLayoutRenderer.cs
Labels: ASP.NET 4, ASP.NET Core 1, ASP.NET Core 2, feature

#313 Added ${aspnet-request-form}
  NLog.Web.AspNetCore.Tests/LayoutRenderers/AspNetRequestFormLayoutRendererTests.cs
  NLog.Web.AspNetCore/LayoutRenderers/AspNetRequestFormLayoutRenderer.cs
  NLog.Web.Tests/NLog.Web.Tests.csproj
  NLog.Web/NLog.Web.csproj
Labels: feature, needs documentation on nlog-project.org/config, needs documentation on wiki

#318 Version 4.7
  CHANGELOG.MD
  NLog.Web.AspNetCore/NLog.Web.AspNetCore.csproj
  NLog.Web/NLog.Web.nuspec
  appveyor.yml
Labels: version
