Repository NLog/NLog.Web, pull requests merged in 2018-07, with the labels that each got.

#299 CookieLayoutRenderer unit test clean up
  NLog.Web.AspNetCore.Tests/FakeHttpContextAccessor.cs
  NLog.Web.AspNetCore.Tests/LayoutRenderers/AspNetCookieLayoutRendererTests.cs
  NLog.Web.AspNetCore.Tests/LayoutRenderers/TestInvolvingAspNetHttpContext.cs
Labels: ASP.NET Core 1, ASP.NET Core 2, enhancement, test

#303 HttpContextAccessor - Improve error-handling during startup / shutdown
  NLog.Web.AspNetCore/LayoutRenderers/AspNetLayoutRendererBase.cs
Labels: ASP.NET Core 1, ASP.NET Core 2, enhancement

#301 Added ASP.NET Full Framework example project (.NET 4.6.1 - VS2017)
  NLog.Web.sln
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/ASP.NET 4.6.1 - VS2017.csproj
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/App_Start/BundleConfig.cs
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/App_Start/FilterConfig.cs
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/App_Start/RouteConfig.cs
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Content/Site.css
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Content/bootstrap-theme.css
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Content/bootstrap-theme.css.map
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Content/bootstrap-theme.min.css
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Content/bootstrap-theme.min.css.map
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Content/bootstrap.css
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Content/bootstrap.css.map
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Content/bootstrap.min.css
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Content/bootstrap.min.css.map
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Controllers/HomeController.cs
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Global.asax
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Global.asax.cs
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/NLog.config
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Properties/AssemblyInfo.cs
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Scripts/bootstrap.js
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Scripts/bootstrap.min.js
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Scripts/jquery-3.3.1.intellisense.js
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Scripts/jquery-3.3.1.js
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Scripts/jquery-3.3.1.min.js
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Scripts/jquery-3.3.1.min.map
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Scripts/jquery-3.3.1.slim.js
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Scripts/jquery-3.3.1.slim.min.js
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Scripts/jquery-3.3.1.slim.min.map
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Scripts/jquery.validate-vsdoc.js
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Scripts/jquery.validate.js
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Scripts/jquery.validate.min.js
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Scripts/jquery.validate.unobtrusive.js
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Scripts/jquery.validate.unobtrusive.min.js
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Scripts/modernizr-2.8.3.js
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Views/Home/About.cshtml
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Views/Home/Contact.cshtml
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Views/Home/Index.cshtml
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Views/Shared/Error.cshtml
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Views/Shared/_Layout.cshtml
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Views/Web.config
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Views/_ViewStart.cshtml
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Web.Debug.config
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Web.Release.config
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Web.config
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/favicon.ico
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/fonts/glyphicons-halflings-regular.eot
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/fonts/glyphicons-halflings-regular.svg
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/fonts/glyphicons-halflings-regular.ttf
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/fonts/glyphicons-halflings-regular.woff
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/fonts/glyphicons-halflings-regular.woff2
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/packages.config
  examples/ASP.NET Core 2/Visual Studio 2017/ASP.NET Core 2 - VS2017/NLog.config
Labels: example

#305 Inherits AssemblyVersionLayoutRenderer from NLog implementation (ASP.NET + ASP.NET Core)
  NLog.Web.AspNetCore.Tests/LayoutRenderers/AssemblyVersionLayoutRendererTests.cs
  NLog.Web.AspNetCore.Tests/NLog.Web.AspNetCore.Tests.csproj
  NLog.Web.AspNetCore/LayoutRenderers/AssemblyVersionLayoutRenderer.cs
  NLog.Web.AspNetCore/NLog.Web.AspNetCore.csproj
  NLog.Web.Tests/NLog.Web.Tests.csproj
  NLog.Web.Tests/Properties/AssemblyInfo-test.cs
  NLog.Web.Tests/packages.NLog.Web.Tests.config
  NLog.Web/NLog.Web.csproj
  NLog.Web/packages.NLog.Web.config
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/ASP.NET 4.6.1 - VS2017.csproj
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Controllers/HomeController.cs
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Global.asax.cs
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Properties/AssemblyInfo.cs
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/packages.config
  examples/ASP.NET Core 2/Visual Studio 2017/ASP.NET Core 2 - VS2017/ASP.NET Core 2 - VS2017.csproj
Labels: enhancement, feature

#306 Update NLog.Extensions.Logging Dependency
  NLog.Web.AspNetCore/NLog.Web.AspNetCore.csproj
Labels: ASP.NET Core 1, ASP.NET Core 2, enhancement
