Repository NLog/NLog.Web, pull requests merged in 2018-08, with the labels that each got.

#307 Added "ValuesOnly" property to Cookie and QueryString layout renderers + support for multivalue cookie keys in ASP.NET core
  NLog.Web.AspNetCore.Tests/LayoutRenderers/AspNetCookieLayoutRendererTests.cs
  NLog.Web.AspNetCore.Tests/LayoutRenderers/AspNetQueryStringLayoutRendererTests.cs
  NLog.Web.AspNetCore.Tests/LayoutRenderers/AssemblyVersionLayoutRendererTests.cs
  NLog.Web.AspNetCore/LayoutRenderers/AspNetLayoutMultiValueRendererBase.cs
  NLog.Web.AspNetCore/LayoutRenderers/AspNetRequestCookieLayoutRenderer.cs
  NLog.Web.AspNetCore/LayoutRenderers/AspNetRequestQueryStringLayoutRenderer.cs
  NLog.Web.Tests/AssemblyVersionLayoutRendererTests.cs
  NLog.Web.Tests/NLog.Web.Tests.csproj
  NLog.Web.Tests/Properties/AssemblyInfo-test.cs
Labels: ASP.NET 4, ASP.NET Core 1, ASP.NET Core 2, enhancement, feature

#309 Fix Opencover install
  appveyor.yml
Labels: build

#312 Removed dependency on Microsoft.AspNetCore.Http.Extensions
  NLog.Web.AspNetCore.Tests/LayoutRenderers/AspNetApplicationValueLayoutRendererTests.cs
  NLog.Web.AspNetCore.Tests/LayoutRenderers/AspNetItemValueLayoutRendererTests.cs
  NLog.Web.AspNetCore.Tests/LayoutRenderers/AspNetRequestValueLayoutRendererTests.cs
  NLog.Web.AspNetCore.Tests/LayoutRenderers/AspNetSessionValueLayoutRendererTests.cs
  NLog.Web.AspNetCore/Internal/PropertyReader.cs
  NLog.Web.AspNetCore/Internal/RequestAccessorExtension.cs
  NLog.Web.AspNetCore/LayoutRenderers/AspNetItemValueLayoutRenderer.cs
  NLog.Web.AspNetCore/LayoutRenderers/AspNetLayoutRendererBase.cs
  NLog.Web.AspNetCore/LayoutRenderers/AspNetSessionValueLayoutRenderer.cs
  NLog.Web.AspNetCore/NLog.Web.AspNetCore.csproj
  NLog.Web.Tests/NLog.Web.Tests.csproj
  NLog.Web.Tests/packages.NLog.Web.Tests.config
Labels: ASP.NET Core 1, ASP.NET Core 2, enhancement
