Repository NLog/NLog.Web, pull requests merged in 2019-05, with the labels that each got.

#401 AspNetRequestPostedBody - Check ContentLength before using Body + Added MaxContentLength (default 30Kib) + update build script
  NLog.Web.AspNetCore.Tests/LayoutRenderers/AspNetRequestPostedBodyTests.cs
  NLog.Web.AspNetCore.Tests/LayoutRenderers/LayoutRenderersTestBase.cs
  NLog.Web.AspNetCore.Tests/NLog.Web.AspNetCore.Tests.csproj
  NLog.Web.AspNetCore/AspNetExtensions.cs
  NLog.Web.AspNetCore/LayoutRenderers/AspNetRequestPostedBody.cs
  NLog.Web.AspNetCore/NLog.Web.AspNetCore.csproj
  appveyor.yml
  build_aspnet.bat
  build_aspnetcore.bat
Labels: ASP.NET 4, ASP.NET Core 1, ASP.NET Core 2, build, enhancement

#405 Fix AppVeyor build for NLog.Web on master branch
  appveyor.yml
Labels: build

#409 Release 4.8.2 ASP.NET Core
  CHANGELOG.MD
  NLog.Web.AspNetCore/NLog.Web.AspNetCore.csproj
  appveyor.yml
Labels: ASP.NET Core 1, ASP.NET Core 2, merge when passing, version

#407 Update AssemblyInfo -> 2019
  NLog.Web/Properties/AssemblyInfo.cs
Labels: ASP.NET 4

#408 Improve assembly titles
  NLog.Web.AspNetCore/NLog.Web.AspNetCore.csproj
Labels: ASP.NET Core 1, ASP.NET Core 2

#417 drop old test bat files
  test_aspnet.ps1
  test_aspnetcore.ps1
Labels: build, merge when passing
