Repository NLog/NLog.Web, pull requests merged in 2019-06, with the labels that each got.

#430 Get rid of NU3005 error
  tests/NLog.Web.AspNetCore.Tests/NLog.Web.AspNetCore.Tests.csproj
Labels: build

#431 Fix NotSupportedException with ${aspnet-request-posted-body}
  examples/ASP.NET Core 2/Visual Studio 2017/ASP.NET Core 2 - VS2017/Controllers/HomeController.cs
  examples/ASP.NET Core 2/Visual Studio 2017/ASP.NET Core 2 - VS2017/Models/MessageModel.cs
  examples/ASP.NET Core 2/Visual Studio 2017/ASP.NET Core 2 - VS2017/Views/Home/Contact.cshtml
  src/Shared/LayoutRenderers/AspNetRequestPostedBody.cs
Labels: ASP.NET 4, ASP.NET Core 1, ASP.NET Core 2, bug

#428 Added AspNetLayoutRendererBase.Register for registering lambdas with httpcontext
  examples/ASP.NET Core 2/Visual Studio 2017/ASP.NET Core 2 - VS2017/Controllers/HomeController.cs
  src/NLog.Web.AspNetCore/Properties/AssemblyInfo.cs
  src/NLog.Web/Properties/AssemblyInfo.cs
  src/Shared/LayoutRenderers/AspNetLayoutRendererBase.cs
  tests/NLog.Web.AspNetCore.Tests/NLog.Web.AspNetCore.Tests.csproj
  tests/NLog.Web.Tests/NLog.Web.Tests.csproj
  tests/Shared/LayoutRenderers/AspNetCookieLayoutRendererTests.cs
  tests/Shared/LayoutRenderers/AspNetSessionValueLayoutRendererTests.cs
  tests/Shared/RegisterCustomLayoutRenderer.cs
Labels: ASP.NET 4, ASP.NET Core 1, ASP.NET Core 2, merge when passing

#432 Improve stability of session unit tests
  tests/Shared/LayoutRenderers/AspNetSessionValueLayoutRendererTests.cs
Labels: merge when passing, test

#433 Release 4.8.3
  CHANGELOG.MD
  appveyor.yml
  examples/ASP.NET Core 2/Visual Studio 2017/ASP.NET Core 2 - VS2017/Controllers/HomeController.cs
  examples/ASP.NET Core 2/Visual Studio 2017/ASP.NET Core 2 - VS2017/Models/MessageModel.cs
  examples/ASP.NET Core 2/Visual Studio 2017/ASP.NET Core 2 - VS2017/Views/Home/Contact.cshtml
  src/NLog.Web.AspNetCore/NLog.Web.AspNetCore.csproj
  src/NLog.Web.AspNetCore/Properties/AssemblyInfo.cs
  src/NLog.Web/NLog.Web.csproj
  src/NLog.Web/Properties/AssemblyInfo.cs
  src/Shared/LayoutRenderers/AspNetLayoutRendererBase.cs
  src/Shared/LayoutRenderers/AspNetRequestPostedBody.cs
  tests/NLog.Web.AspNetCore.Tests/NLog.Web.AspNetCore.Tests.csproj
  tests/NLog.Web.Tests/NLog.Web.Tests.csproj
  tests/Shared/LayoutRenderers/AspNetCookieLayoutRendererTests.cs
  tests/Shared/LayoutRenderers/AspNetSessionValueLayoutRendererTests.cs
  tests/Shared/RegisterCustomLayoutRenderer.cs
Labels: version
