Repository NLog/NLog.Web, pull requests merged in 2019-01, with the labels that each got.

#332 Version 4.7.1
  CHANGELOG.MD
  NLog.Web.AspNetCore/NLog.Web.AspNetCore.csproj
  NLog.Web/NLog.Web.nuspec
  appveyor.yml
Labels: version

#334 ${aspnet-request-contenttype} for NLog.Web
  NLog.Web.AspNetCore/LayoutRenderers/AspNetRequestContentTypeLayoutRenderer.cs
  NLog.Web/NLog.Web.csproj
Labels: ASP.NET 4, feature

#335 Register WebHost configuration with ${configsetting} and LoggingProvider-options
  NLog.Web.AspNetCore.Tests/NLog.Web.AspNetCore.Tests.csproj
  NLog.Web.AspNetCore/AspNetExtensions.cs
  NLog.Web.AspNetCore/NLog.Web.AspNetCore.csproj
Labels: ASP.NET Core 1, ASP.NET Core 2
