Repository NLog/NLog.Web, pull requests merged in 2021-03, with the labels that each got.

#650 Bump Microsoft.NET.Test.Sdk from 16.5.0 to 16.9.1
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/ASP.NET 4.6.1 - VS2017.csproj
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/Web.config
  examples/ASP.NET 4.6.1/Visual Studio 2017/ASP.NET 4.6.1 - VS2017/packages.config
  tests/NLog.Web.AspNetCore.Tests/NLog.Web.AspNetCore.Tests.csproj
  tests/NLog.Web.Tests/NLog.Web.Tests.csproj
Labels: size/M, test

#647 Move to build.ps1
  appveyor.yml
  build.ps1
  build_aspnet.bat
Labels: build, size/M

#657 NLogAspNetCoreOptions - Added ReplaceLoggerFactory and RemoveLoggerFactoryFilter
  src/NLog.Web.AspNetCore/AspNetExtensions.cs
  tests/NLog.Web.AspNetCore.Tests/AspNetCoreTests.cs
Labels: ASP.NET Core 2, ASP.NET Core 3, ASP.NET Core 5, size/M

#659 AspNetLayoutRendererBase.Register should cache IHttpContextAccessor
  examples/ASP.NET Core 2/Visual Studio 2017/ASP.NET Core 2 - VS2017/Program.cs
  src/Shared/LayoutRenderers/AspNetLayoutRendererBase.cs
  src/Shared/LayoutRenderers/NLogWebLayoutRenderer.cs
  tests/Shared/RegisterCustomLayoutRenderer.cs
Labels: enhancement, size/M

#660 Version 4.12
  CHANGELOG.MD
  appveyor.yml
  build.ps1
  src/NLog.Web.AspNetCore/NLog.Web.AspNetCore.csproj
Labels: version
